.SearchResults {
  margin: 10px;
  .container {
    .content {
      border-radius: 10px;
      background: linear-gradient(
        180deg,
        rgba(229, 83, 127, 0.433),
        rgba(12, 12, 12, 0.004)
      );
      @media (max-width: 768px) {
        padding: 0 16px;
      }

      .tracks {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px;
      }

      .track {
        display: flex;
        gap: 15px;
        padding: 20px;
        align-items: center;
        text-align: center;

        img {
          max-width: 80px;
          height: 80px;
          border-radius: 10px;

          @media (max-width: 768px) {
            max-width: 130px;
            height: 130px;
          }

          @media (min-width: 1024px) {
            max-width: 150px;
            height: 150px;
          }
        }

        .traks_text {
          display: flex;
          gap: 5px;

          @media (max-width: 782px) {
            flex-direction: column;
            gap: 5px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    .track {
      display: flex;
      flex-direction: column;

      img {
        max-width: 150px;
        height: 150px;
      }
    }
  }
}
