.PlaylistId {
  background: linear-gradient(
    180deg,
    rgba(117, 162, 246, 0.513),
    rgba(12, 12, 12, 0.215)
  );
  border-radius: 10px;
  .content {
    .tracks {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 10px 0;
      padding: 10px;
      .track {
        display: flex;
        gap: 15px;
        align-items: center;
        background-color: rgba(100, 102, 103, 0.463);
        border-radius: 10px;
        &.active {
          background: rgba(45, 205, 80, 0.73);
        }
      }
      img {
        width: 100px;
        border-radius: 10px;
        height: 100px;
      }
    }
  }
}
